.form-box {
    justify-items: center;
    padding: 5%;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;

    ion-input {
        text-align: initial;
    }
}

.titulo {
    font-weight: bold;
    font-size: 1.6rem;
}

.contenido-login {
    position: relative;
    margin: auto;
    width: 26rem;
    max-width: 86%;
    top: 50%;
    transform: translate(0, -50%);
}

ion-fab {
    margin-bottom: var(--ion-safe-area-bottom, 0);

    ion-icon {
        color: var(--ion-color-dark)
    }
}