@use 'keyframes.scss';

.bounce-in-fwd {
	-webkit-animation: bounce-in-fwd 1.1s both;
	        animation: bounce-in-fwd 1.1s both;
}

.bounce-in-fwd-2 {
	-webkit-animation: bounce-in-fwd 1.1s 0.8s both;
	        animation: bounce-in-fwd 1.1s 0.8s both;
}

.swing-in-bottom-fwd {
	-webkit-animation: swing-in-bottom-fwd 1.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
	        animation: swing-in-bottom-fwd 1.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}


.logo-div {
  width: 26rem;
  max-width: 60%;
  margin: auto;

  img {
      padding: 2rem;
  }
}

.texto {
    font-size: xx-large;

    p {
        text-align: center;
    }
}
