@use 'keyframes.scss';

.text-flicker-in-glow {
	-webkit-animation: text-flicker-in-glow 3s linear both;
	        animation: text-flicker-in-glow 3s linear both;
}

.scale-in-hor-center {
	-webkit-animation: scale-in-hor-center 1.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-hor-center 1.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.logo-div {
    width: 26rem;
    max-width: 60%;
    margin: auto;
    
    img {
        padding: 2rem;
    }
}

.texto {
    font-size: xx-large;

    p {
        text-align: center;
    }
}
