<div class="ion-page" id="main-content">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
          <div *ngIf="this.firebaseAuthService.getFirebaseUser(); else templateNoIngresado" >
            <ion-button (click)="this.logout()" [disabled]="this.logoutHabilitado">Cerrar sesion</ion-button>
          </div>
          <ng-template #templateNoIngresado>
            <ion-button routerLink="/login">Iniciar sesion</ion-button>
          </ng-template>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true">
    <router-outlet name="contenido-app"></router-outlet>
  </ion-content>
</div>
