<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Carga credito</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="h100 flex flex-column">
    <div *ngIf="this.usrCreditos.cargandoDatos || this.cargando" class="spinner">
      <ion-spinner name="dots"></ion-spinner>
    </div>
    <div class="contenedor-credito">
      <ion-text><h1>Credito:</h1></ion-text>
      <div class="cont-txtCredito txtCredito">
        <ion-text #creditosCountUp [countUp]="this.credito">0</ion-text>
        <span>$</span>
      </div>
    </div>
    <div class="contenedor-scan flex flex11">
      <ion-button class="flex flex-column flex11" (click)="escanearCodigo()" color="tertiary">
        <div class="flex flex-column">
          <ion-text class="btnText">Escanear QR</ion-text>
          <ion-icon class="btnIcon" slot="icon-only" name="qr-code-outline"></ion-icon>
        </div>
      </ion-button>
    </div>
  </div>
  
  <ion-fab slot="fixed" horizontal="end" vertical="top" [edge]="true">
    <ion-fab-button>
      <ion-icon name="list-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="bottom">
      <ion-fab-button color="primary">
        <ion-icon name="log-out-outline" (click)="logout()"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="primary">
        <ion-icon name="trash-outline" (click)="limpiarCredito()"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
