.contenedor-credito {
    text-align: center;
    align-content: center;
    min-height: 30%;
    max-height: min-content;
}

.contenedor-scan {
    margin: 0.6em;
}

.btnIcon {
    font-size: 11rem !important;
    width: 100% !important;
}

.btnText {
    font-size: large;
}

.txtCredito {
    font-size: 9em;
}