// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root body{
  --ion-color-primary: #677db7;
	--ion-color-primary-rgb: 103,125,183;
	--ion-color-primary-contrast: #000000;
	--ion-color-primary-contrast-rgb: 0,0,0;
	--ion-color-primary-shade: #5b6ea1;
	--ion-color-primary-tint: #768abe;

	--ion-color-secondary: #899E8B;
	--ion-color-secondary-rgb: 137,158,139;
	--ion-color-secondary-contrast: #000000;
	--ion-color-secondary-contrast-rgb: 0,0,0;
	--ion-color-secondary-shade: #798b7a;
	--ion-color-secondary-tint: #95a897;

	--ion-color-tertiary: #99C5B5;
	--ion-color-tertiary-rgb: 153,197,181;
	--ion-color-tertiary-contrast: #000000;
	--ion-color-tertiary-contrast-rgb: 0,0,0;
	--ion-color-tertiary-shade: #87ad9f;
	--ion-color-tertiary-tint: #a3cbbc;

	--ion-color-success: #7FCD7A;
	--ion-color-success-rgb: 127,205,122;
	--ion-color-success-contrast: #000000;
	--ion-color-success-contrast-rgb: 0,0,0;
	--ion-color-success-shade: #70b46b;
	--ion-color-success-tint: #8cd287;

	--ion-color-warning: #FF7F11;
	--ion-color-warning-rgb: 255,127,17;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0,0,0;
	--ion-color-warning-shade: #e0700f;
	--ion-color-warning-tint: #ff8c29;

	--ion-color-danger: #FB4B4E;
	--ion-color-danger-rgb: 251,75,78;
	--ion-color-danger-contrast: #000000;
	--ion-color-danger-contrast-rgb: 0,0,0;
	--ion-color-danger-shade: #dd4245;
	--ion-color-danger-tint: #fb5d60;

	--ion-color-light: #f6f8fc;
	--ion-color-light-rgb: 246,248,252;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #d8dade;
	--ion-color-light-tint: #f7f9fc;

	--ion-color-medium: #5f5f5f;
	--ion-color-medium-rgb: 95,95,95;
	--ion-color-medium-contrast: #ffffff;
	--ion-color-medium-contrast-rgb: 255,255,255;
	--ion-color-medium-shade: #545454;
	--ion-color-medium-tint: #6f6f6f;

	--ion-color-dark: #2f2f2f;
	--ion-color-dark-rgb: 47,47,47;
	--ion-color-dark-contrast: #ffffff;
	--ion-color-dark-contrast-rgb: 255,255,255;
	--ion-color-dark-shade: #292929;
	--ion-color-dark-tint: #444444;


  /* Stepped colors */
  --ion-background-color: #ffffff;
	--ion-background-color-rgb: 255, 255, 255;

	--ion-text-color: #210b0b;
	--ion-text-color-rgb: 33, 11, 11;

	--ion-text-color-step-50: #311717;
	--ion-text-color-step-100: #372120;
	--ion-text-color-step-150: #3e2a28;
	--ion-text-color-step-200: #443331;
	--ion-text-color-step-250: #4b3c3a;
	--ion-text-color-step-300: #514643;
	--ion-text-color-step-350: #584f4c;
	--ion-text-color-step-400: #5e5854;
	--ion-text-color-step-450: #65615d;
	--ion-text-color-step-500: #6c6b66;
	--ion-text-color-step-550: #72746f;
	--ion-text-color-step-600: #797d78;
	--ion-text-color-step-650: #7f8680;
	--ion-text-color-step-700: #868f89;
	--ion-text-color-step-750: #8c9992;
	--ion-text-color-step-800: #93a29b;
	--ion-text-color-step-850: #99aba4;
	--ion-text-color-step-900: #a0b5ac;
	--ion-text-color-step-950: #a6beb5;

	--ion-background-color-step-50: #a6beb5;
	--ion-background-color-step-100: #a0b5ac;
	--ion-background-color-step-150: #99aba4;
	--ion-background-color-step-200: #93a29b;
	--ion-background-color-step-250: #8c9992;
	--ion-background-color-step-300: #868f89;
	--ion-background-color-step-350: #7f8680;
	--ion-background-color-step-400: #797d78;
	--ion-background-color-step-450: #72746f;
	--ion-background-color-step-500: #6c6b66;
	--ion-background-color-step-550: #65615d;
	--ion-background-color-step-600: #5e5854;
	--ion-background-color-step-650: #584f4c;
	--ion-background-color-step-700: #514643;
	--ion-background-color-step-750: #4b3c3a;
	--ion-background-color-step-800: #443331;
	--ion-background-color-step-850: #3e2a28;
	--ion-background-color-step-900: #372020;
	--ion-background-color-step-950: #311717;
  

	.center {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	  }
}

@media (prefers-color-scheme: dark) {
  /*
   * Dark Colors
   * -------------------------------------------
   */

  body {
    --ion-color-primary: #677DB7;
	--ion-color-primary-rgb: 103,125,183;
	--ion-color-primary-contrast: #000000;
	--ion-color-primary-contrast-rgb: 0,0,0;
	--ion-color-primary-shade: #5b6ea1;
	--ion-color-primary-tint: #768abe;

	--ion-color-secondary: #899E8B;
	--ion-color-secondary-rgb: 137,158,139;
	--ion-color-secondary-contrast: #000000;
	--ion-color-secondary-contrast-rgb: 0,0,0;
	--ion-color-secondary-shade: #798b7a;
	--ion-color-secondary-tint: #95a897;

	--ion-color-tertiary: #99C5B5;
	--ion-color-tertiary-rgb: 153,197,181;
	--ion-color-tertiary-contrast: #000000;
	--ion-color-tertiary-contrast-rgb: 0,0,0;
	--ion-color-tertiary-shade: #87ad9f;
	--ion-color-tertiary-tint: #a3cbbc;

	--ion-color-success: #7FCD7A;
	--ion-color-success-rgb: 127,205,122;
	--ion-color-success-contrast: #000000;
	--ion-color-success-contrast-rgb: 0,0,0;
	--ion-color-success-shade: #70b46b;
	--ion-color-success-tint: #8cd287;

	--ion-color-warning: #FF7F11;
	--ion-color-warning-rgb: 255,127,17;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0,0,0;
	--ion-color-warning-shade: #e0700f;
	--ion-color-warning-tint: #ff8c29;

	--ion-color-danger: #FB4B4E;
	--ion-color-danger-rgb: 251,75,78;
	--ion-color-danger-contrast: #000000;
	--ion-color-danger-contrast-rgb: 0,0,0;
	--ion-color-danger-shade: #dd4245;
	--ion-color-danger-tint: #fb5d60;

	--ion-color-light: #222428;
	--ion-color-light-rgb: 34,36,40;
	--ion-color-light-contrast: #ffffff;
	--ion-color-light-contrast-rgb: 255,255,255;
	--ion-color-light-shade: #1e2023;
	--ion-color-light-tint: #383a3e;

	--ion-color-medium: #989aa2;
	--ion-color-medium-rgb: 152,154,162;
	--ion-color-medium-contrast: #000000;
	--ion-color-medium-contrast-rgb: 0,0,0;
	--ion-color-medium-shade: #86888f;
	--ion-color-medium-tint: #a2a4ab;

	--ion-color-dark: #f4f5f8;
	--ion-color-dark-rgb: 244,245,248;
	--ion-color-dark-contrast: #000000;
	--ion-color-dark-contrast-rgb: 0,0,0;
	--ion-color-dark-shade: #d7d8da;
	--ion-color-dark-tint: #f5f6f9;
  }

  /*
   * iOS Dark Theme
   * -------------------------------------------
   */

  .ios body {
    --ion-background-color: #5B1C1C;
    --ion-background-color-rgb: 0,0,0;

    --ion-text-color: #BFF7FF;
    --ion-text-color-rgb: 255,255,255;

    --ion-color-step-50: #0d0d0d;
    --ion-color-step-100: #1a1a1a;
    --ion-color-step-150: #262626;
    --ion-color-step-200: #333333;
    --ion-color-step-250: #404040;
    --ion-color-step-300: #4d4d4d;
    --ion-color-step-350: #595959;
    --ion-color-step-400: #666666;
    --ion-color-step-450: #737373;
    --ion-color-step-500: #808080;
    --ion-color-step-550: #8c8c8c;
    --ion-color-step-600: #999999;
    --ion-color-step-650: #a6a6a6;
    --ion-color-step-700: #b3b3b3;
    --ion-color-step-750: #bfbfbf;
    --ion-color-step-800: #cccccc;
    --ion-color-step-850: #d9d9d9;
    --ion-color-step-900: #e6e6e6;
    --ion-color-step-950: #f2f2f2;

    --ion-item-background: #000000;

    --ion-card-background: #1c1c1d;
  }

  .ios ion-modal {
    --ion-background-color: var(--ion-color-step-100);
    --ion-toolbar-background: var(--ion-color-step-150);
    --ion-toolbar-border-color: var(--ion-color-step-250);
  }


  /*
   * Material Design Dark Theme
   * -------------------------------------------
   */

  .md body {
    --ion-background-color: #5A1C1C;
	--ion-background-color-rgb: 90,28,28;

	--ion-text-color: #CBE9FF;
	--ion-text-color-rgb: 203,233,255;

	--ion-text-color-step-50: #c5dff4;
	--ion-text-color-step-100: #c0d5e8;
	--ion-text-color-step-150: #bacadd;
	--ion-text-color-step-200: #b4c0d2;
	--ion-text-color-step-250: #afb6c6;
	--ion-text-color-step-300: #a9acbb;
	--ion-text-color-step-350: #a3a1b0;
	--ion-text-color-step-400: #9e97a4;
	--ion-text-color-step-450: #988d99;
	--ion-text-color-step-500: #93838e;
	--ion-text-color-step-550: #8d7882;
	--ion-text-color-step-600: #876e77;
	--ion-text-color-step-650: #82646b;
	--ion-text-color-step-700: #7c5a60;
	--ion-text-color-step-750: #764f55;
	--ion-text-color-step-800: #714549;
	--ion-text-color-step-850: #6b3b3e;
	--ion-text-color-step-900: #653033;
	--ion-text-color-step-950: #602627;

	--ion-background-color-step-50: #602627;
	--ion-background-color-step-100: #653133;
	--ion-background-color-step-150: #6b3b3e;
	--ion-background-color-step-200: #714549;
	--ion-background-color-step-250: #764f55;
	--ion-background-color-step-300: #7c5960;
	--ion-background-color-step-350: #82646b;
	--ion-background-color-step-400: #876e77;
	--ion-background-color-step-450: #8d7882;
	--ion-background-color-step-500: #93838e;
	--ion-background-color-step-550: #988d99;
	--ion-background-color-step-600: #9e97a4;
	--ion-background-color-step-650: #a3a1b0;
	--ion-background-color-step-700: #a9acbb;
	--ion-background-color-step-750: #afb6c6;
	--ion-background-color-step-800: #b4c0d2;
	--ion-background-color-step-850: #bacadd;
	--ion-background-color-step-900: #c0d5e8;
	--ion-background-color-step-950: #c5dff4;

    --ion-item-background: #1e1e1e;

    --ion-toolbar-background: #1f1f1f;

    --ion-tab-bar-background: #1f1f1f;

    --ion-card-background: #1e1e1e;
  }
}

html {
  /* 
   * For more information on dynamic font scaling, visit the documentation:
   * https://ionicframework.com/docs/layout/dynamic-font-scaling
   */
  --ion-dynamic-font: var(--ion-default-dynamic-font);
}