<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Registrarse</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="container-registro">
    <div class="form-registro ">
      <div  *ngIf=" this.cargandoRegistro" class="spinner">
        <ion-spinner color="dark"></ion-spinner>
      </div>
      <form [formGroup]="this.formRegister">
        <ion-input formControlName="email" label="E-Mail:"></ion-input>
        <ion-input formControlName="name" label="Nombre:"></ion-input>
        <ion-input formControlName="pass" label="Contraseña:" type="password"></ion-input>
        <ion-input formControlName="confirmPass" label="Confirmar contraseña:" type="password"></ion-input>
        <ion-select label="Sexo:" interface="popover" formControlName="gender">
          <ion-select-option [value]="'m'">Masculino</ion-select-option>
          <ion-select-option [value]="'f'">Femenino</ion-select-option>
        </ion-select>
        <ion-button (click)="registrar()" [disabled]="this.formRegister.invalid" class="boton-registro">Registrarse</ion-button>
      </form>
    </div>
  </div>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="bug-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="cargarDatosPrueba1()">
        <ion-icon name="person-outline"></ion-icon>
        1
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
